<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <span>
                <span class="ucf-title">UNIVERSITY OF 
                    <br />CENTRAL FLORIDA</span><br />
            </span>
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <a class="navbar-brand" href="">
            <span>
                <span class="title">CREOL | Intranet</span><br />
                <span class="subtitle">College of Optics &amp; Photonics</span>
            </span>
        </a>
        <!-- My Info Section -->
        <div class="nav-section">
            <div class="nav-section-title">My Info</div>
            <div class="nav-item px-3"><NavLink class="nav-link" href="">Directory Info</NavLink></div>
            <div class="nav-item px-3"><NavLink class="nav-link" href="publications">Publications</NavLink></div>
            <div class="nav-item px-3"><NavLink class="nav-link" href="keys">Keys</NavLink></div>
            <div class="nav-item px-3"><NavLink class="nav-link" href="computers">Computers</NavLink></div>
        </div>

        <!-- Favorites Section -->
        <div class="nav-section">
            <div class="nav-section-title">Favorites</div>
            <div class="nav-item px-3"><NavLink class="nav-link" href="by-semester">By Semester</NavLink></div>
            <div class="nav-item px-3"><NavLink class="nav-link" href="courses">Courses</NavLink></div>
            <div class="nav-item px-3"><NavLink class="nav-link" href="license-usages">License Usages</NavLink></div>
            <div class="nav-item px-3"><NavLink class="nav-link" href="journals">Journals</NavLink></div>
        </div>

        <!-- Help Section -->
        <div class="nav-section nav-section-help">
            <div class="nav-section-title">Need help navigating the intranet?</div>
            <div class="nav-help-contact">
                Contact the<br />
                Web Developer:<br />
                <a href="mailto:dylan.wilkins@ucf.edu">dylan.wilkins@ucf.edu</a>
            </div>
        </div>
    </nav>
</div>

